
*{
    margin:0;
    padding: 0;
    border:none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    --black: #000;
    --white: #fff;
    --light-blue:#e0ecff;
    --blue:#3485ff;
    --red:#e83f5b;
    --background:#f6faff;
    --overlay:#040911;   
    --icons-details:#a5b0c1;


    --grey-dark:#4d5e77;
    --grey-blue:#a1b2cd;
    --grey-light:#e5eaf1;

    /* 1 rem = 16px rem é uma medida que mensura o dobro da fonte padrão*/
    font-size: 62.5%;
}
body{
    height: 100vh;/*view height*/
    /*width:100vw; view width*/
    background: var(--background);
    font-family: 'Open Sans', sans-serif;
}

body, button, input, textarea{
    /*intervalo de tamanho ou seja o mínimo da letra*/
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: 'Poppins', sans-serif;
}

.content{
    width: 100%;
    margin: 0 auto;
}

.sr-only{
    position: absolute; /*fica por cima de tudo*/
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden; /*esconde a barra de rolagem*/
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}